---
- name: 'Provision Image'
  hosts: all
  tasks:
  {%- if dsc.builds_linux_enable == true %}
  - include_role:
    {%- for r in dsc.builds_linux_roles %}
    - name: {{ r.name }}
      vars: 
      {%- for var_name, var_value in r.vars.items() %}
        {%- if var_value != none %}
        {{ var_name }}: {{ var_value }}
        {%- endif %}
      {%- endfor %}
    {%- endfor %}
    when: (ansible_facts['os_family'] | lower == "debian")
{%- endif %}
{%- if dsc.builds_windows_enable == true %}
  - include_role:
      name: windows-agent
    vars:
      powershell_modules:
      {%- for pkg in builds_windows_config_powershell_modules%}
        - name: {{ pkg.name }}
          version: {{ pkg.version }}
      {%- endfor %}
      choco_packages:
      {%- for pkg in builds_windows_config_choco_packages %}
        - name: {{ pkg.name }}
          version: {{ pkg.version }}
      {%- endfor %}
    when: ansible_facts['os_family'] | lower == "windows"
{%- endif %}