packer {
  required_plugins {
    azure-rm = {
      version = ">= 1.0.6"
      source  = "github.com/hashicorp/azure"
    }
  }
}

variable "ansible_playbook_path" {
  type = string
  description = "Specifies where ansible playbooks are located"
  default="../build_config"
}

variable "client_id" {
  type        = string
  description = "Specifies the service principal client-id"
}

variable "client_secret" {
  type        = string
  description = "Specifies the service principal secret"
  sensitive   = true
}

variable "tenant_id" {
  type        = string
  description = "Specifies the Azure tenant id"
}

variable "subscription_id" {
  type        = string
  description = "Specifies the Azure subscription id where image should be saved"
  sensitive   = true
}

locals {
  location_abbreviations = {
    "westeurope"  = "weeu",
    "northeurope" = "noeu",
    "westus"      = "weus",
    "westus"      = "weus"
  }
  green_img_linux   = "adolinux-img-${local.location_abbreviations["{{dsc.deployment_location}}"]}-{{dsc.deployment_environment}}-001"
  green_img_windows = "adowindows-img-${local.location_abbreviations["{{dsc.deployment_location}}"]}-{{dsc.deployment_environment}}-001"
}

# source block configures a specific builder plugin, which is then invoked by a build block.
{% if dsc.builds_linux_enable == true %}
source "azure-arm" "agent-ubuntu" {
  client_id       = var.client_id
  client_secret   = var.client_secret
  tenant_id       = var.tenant_id
  subscription_id = var.subscription_id

{%- if dsc.builds_use_target_rg_for_build == true %}
  build_resource_group_name = "{{ dsc.builds_target_resource_group }}"
{%- else %}
  location = "{{ dsc.deployment_location }}"
{%- endif %}
{%- if dsc.builds_gallery_enabled == true %}
  shared_image_gallery_destination {
    subscription = var.subscription_id
    resource_group = "{{ dsc.builds_gallery_resource_group }}"
    gallery_name = "{{ dsc.builds_gallery_name }}"
    image_name = local.green_img_linux
    image_version = "{{ dsc.builds_linux_version }}"
    replication_regions = ["West Europe"]
    storage_account_type = "{{ dsc.deployment_replication }}"
  }
{%- else %}
  managed_image_storage_account_type = "Standard_LRS"
{%- endif %}
  managed_image_resource_group_name  = "{{ dsc.builds_target_resource_group }}"
  managed_image_name                 = local.green_img_linux
  os_type         = "Linux"
  image_publisher = "{{ dsc.builds_linux_image_publisher }}"
  image_offer     = "{{ dsc.builds_linux_image_offer }}"
  image_sku       = "{{ dsc.builds_linux_image_sku }}"
  vm_size  = "{{ dsc.builds_linux_vm_size }}"
}
{%- endif %}
{% if dsc.builds_windows_enable == true %}
source "azure-arm" "agent-windows" {
  client_id       = var.client_id
  client_secret   = var.client_secret
  tenant_id       = var.tenant_id
  subscription_id = var.subscription_id
{%- if dsc.builds_use_target_rg_for_build == true %}
  build_resource_group_name = "{{ dsc.builds_target_resource_group }}"
{%- else %}
  location = "{{ dsc.deployment_location }}"
{%- endif %}
{%- if dsc.builds_gallery_enabled == true %}
  shared_image_gallery_destination {
    subscription = var.subscription_id
    resource_group = "{{ dsc.builds_gallery_resource_group }}"
    gallery_name = "{{ dsc.builds_gallery_name }}"
    image_name = local.green_img_windows
    image_version = "{{ dsc.builds_windows_version }}"
    replication_regions = ["West Europe"]
    storage_account_type = "{{ dsc.deployment_replication }}"
  }
{%- else %}
  managed_image_storage_account_type = "Standard_LRS"
{%- endif %}
  managed_image_resource_group_name  = "{{ dsc.builds_target_resource_group }}"
  managed_image_name                 = local.green_img_windows
  os_type         = "Windows"
  image_publisher = "{{ dsc.builds_windows_image_publisher }}"
  image_offer     = "{{ dsc.builds_windows_image_offer }}"
  image_sku       = "{{ dsc.builds_windows_image_sku }}"
  vm_size  = "{{ dsc.builds_windows_vm_size }}"
  communicator   = "winrm"
  winrm_insecure = true
  winrm_username = "packer"
  winrm_use_ssl  = true
}
{%- endif %}

# The build block defines what Packer should do with the Docker container after it launches.
build {
  name = "self-hosted-build-agents"
  sources = [
    {%- if dsc.builds_linux_enable -%}"source.azure-arm.agent-ubuntu",{%- endif -%}
    {%- if dsc.builds_windows_enable -%}"source.azure-arm.agent-windows",{%- endif -%}
  ]
  {%- if dsc.builds_linux_enable %}
  provisioner "ansible" {
    use_proxy               = false
    playbook_file           = "${var.ansible_playbook_path}/playbook.yaml"
    inventory_directory     = "${var.ansible_playbook_path}/"
  {% raw %}
    inventory_file_template = "{{ .HostAlias }} ansible_host={{ .Host }} ansible_user={{ .User }} ansible_port={{ .Port }} ansible_become=true"
  {% endraw %}
    only                    = ["azure-arm.agent-ubuntu"]
  }
  {%- endif %}
  {% if dsc.builds_windows_enable %}
  provisioner "ansible" {
    playbook_file   = "${var.ansible_playbook_path}/playbook.yaml"
    user            = "Administrator"
    use_proxy       = false
    extra_arguments = [
      "-e",
      "ansible_winrm_server_cert_validation=ignore"
    ]
    only = ["azure-arm.agent-windows"]
  }
  {% endif %}
  post-processor "manifest" {
      output = "manifest.json"
      strip_path = true
      custom_data = {
          source_image_name = "${build.SourceImageName}"
{%- for vmss in dsc.target_scale_sets %}      
          vmss_{{ loop.index }}_name = "{{ vmss.name }}"
          vmss_{{ loop.index }}_resource_group = "{{ vmss.resource_group }}"
          image_{{ loop.index }}_name = local.green_img_linux
          image_{{ loop.index }}_resource_group = "{{ dsc.builds_target_resource_group }}"
{%- endfor %}
      }
  }
}