client_id="8948fe3c-aacd-4d8e-8d3a-7ce619ae6220"
client_secret="CQY~h-aMx7Sp4K755zzBW-zv-.i8Dh4.R1"
tenant_id="896ecbea-bd27-4a3c-a131-34aa0b46a086"
subscription_id="e5340588-47f1-49b7-87ad-dc73657edefc"
env="dev"
resource_group_name="INTEGRATION-INTEROPERABILITYPLATFORM-DEV-RG"
location="westeurope"
ansible_playbook_path="../../build_config"